*{
    margin: 0;
}

.left{
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin: auto;
}

.right{
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin: auto;
}

.title-left{
    width: 360px;
    color: #fff;
    grid-column: 1/8;
    grid-row: 3/7;
}

.title-left h2{
    background-color: rgb(200, 10, 10);
    font-size: 3rem;
    text-align: left;
}

.title-left-number{
    writing-mode: vertical-lr;
    font-size: 120px;
    font-weight: 100;
    vertical-align: middle;
    position: relative;
    right: 25px;
}

.title-left-text{
    position: relative;
    right: 50px;
}

.titleword{
    background-color: black;
    padding: 10px;
}

.titleword h3{
    font-size: 1.5rem;
}

.titleword p{
    margin: 10px 0px 20px;
    font-size: 1rem;
    line-height: 1.5;
}
.silver-left{
    width: 400px;
    height: 230px;
    background-color: rgba(192,192,192,0.2);
    grid-column: 11/19;
    grid-row: 4/10;
    z-index: -2;
}
.img-left{
    grid-column: 4/16;
    grid-row: 5/10;
    z-index: -1;
}

.img-left::before{
    content: url(https://www.toyota.com.tw/asset/img/tech_tnga/video-icon.png?73425069);
    position: relative;
    top: 238px;
    left: 650px;
}

.footer-left{
    width: 600px;
    height: auto;
    padding: 20px 30px 30px 30px;
    background-color: rgba(192,192,192);
    grid-column: 2/14;
    grid-row: 14/20;
}

.footer-left h4{
    display: flex;
    color: rgb(200, 0, 0);
}

.footer-left hr{
    background-color: rgb(200, 0, 0);
    width: 400px;
    height: 1px;
    margin: 10px;
}

.footer-text{
    list-style-type: none;
    padding: 0;
}

.footer-text li span{
    display: inline-block;
    padding: 5px 10px 5px;
    background-color: black;
    color: #FFF;
}

.footer-text li p{
    line-height: 1.5;
}

.footer-text li p::before{
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    position: relative;
    top: -5px;
    background-color: red;
}

.title-right{
    width: 350px;
    color: #fff;
    grid-column: 15/19;
    grid-row: 3/7;
}

.title-right h2{
    background-color: rgb(200, 10, 10);
    font-size: 3rem;
}

.title-right-text{
    position: relative;
    left: 50px;
}

.title-right-number{
    writing-mode: vertical-lr;
    font-size: 120px;
    font-weight: 100;
    vertical-align: middle;
    position: relative;
    left: 30px;
}

.img-right{
    grid-column: 1/12;
    grid-row: 5/10;
    z-index: -1;
}

.img-right::before{
    content: url(https://www.toyota.com.tw/asset/img/tech_tnga/video-icon.png?73425069);
    position: relative;
    top: 238px;
    left: -10px;
}

.silver-right{
    width: 530px;
    height: 400px;
    background-color: rgba(192,192,192,0.2);
    grid-column: 11/17;
    grid-row: 5/12;
    z-index: -2;
}

.footer-right{
    width: 600;
    height: auto;
    padding: 20px 30px 30px 30px;
    background-color: rgba(192,192,192);
    grid-column: 10/19;
    grid-row: 13/17;
}

.footer-right h4{
    display: flex;
    color: rgb(200, 0, 0);
}

.footer-right hr{
    background-color: rgb(200, 0, 0);
    width: 400px;
    height: 1px;
    margin: 10px;
}

.footer-left-05{
    width: 600px;
    height: auto;
    padding: 20px 30px 30px 30px;
    background-color: rgba(192,192,192);
    grid-column: 2/14;
    grid-row: 14/18;
}

.footer-left-05 h4{
    display: flex;
    color: rgb(200, 0, 0);
}

.footer-left-05 hr{
    background-color: rgb(200, 0, 0);
    width: 400px;
    height: 1px;
    margin: 10px;
}